<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiaxin.shop.dao.DictInfoMapper" >
  <resultMap id="BaseResultMap" type="com.jiaxin.shop.pojo.DictInfo" >
    <id column="dict_info_id" property="dictInfoId" jdbcType="INTEGER" />
    <result column="dict_type_id" property="dictTypeId" jdbcType="INTEGER" />
    <result column="dict_info" property="dictInfo" jdbcType="VARCHAR" />
    <result column="creat_time" property="creatTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    dict_info_id, dict_type_id, dict_info, creat_time, update_time, state, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dict_info
    where dict_info_id = #{dictInfoId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dict_info
    where dict_info_id = #{dictInfoId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jiaxin.shop.pojo.DictInfo" >
    insert into dict_info (dict_info_id, dict_type_id, dict_info, 
      creat_time, update_time, state, 
      remark)
    values (#{dictInfoId,jdbcType=INTEGER}, #{dictTypeId,jdbcType=INTEGER}, #{dictInfo,jdbcType=VARCHAR}, 
      #{creatTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{state,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jiaxin.shop.pojo.DictInfo" >
    insert into dict_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dictInfoId != null" >
        dict_info_id,
      </if>
      <if test="dictTypeId != null" >
        dict_type_id,
      </if>
      <if test="dictInfo != null" >
        dict_info,
      </if>
      <if test="creatTime != null" >
        creat_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dictInfoId != null" >
        #{dictInfoId,jdbcType=INTEGER},
      </if>
      <if test="dictTypeId != null" >
        #{dictTypeId,jdbcType=INTEGER},
      </if>
      <if test="dictInfo != null" >
        #{dictInfo,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null" >
        #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jiaxin.shop.pojo.DictInfo" >
    update dict_info
    <set >
      <if test="dictTypeId != null" >
        dict_type_id = #{dictTypeId,jdbcType=INTEGER},
      </if>
      <if test="dictInfo != null" >
        dict_info = #{dictInfo,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null" >
        creat_time = #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where dict_info_id = #{dictInfoId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jiaxin.shop.pojo.DictInfo" >
    update dict_info
    set dict_type_id = #{dictTypeId,jdbcType=INTEGER},
      dict_info = #{dictInfo,jdbcType=VARCHAR},
      creat_time = #{creatTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where dict_info_id = #{dictInfoId,jdbcType=INTEGER}
  </update>

  <select id="getInfoByType" parameterType="Integer" resultType="com.jiaxin.shop.pojo.DictInfo">
    select dict_info_id from dict_info where dict_type_id = #{dictTypeId,jdbcType=INTEGER} limit 1;
  </select>

  <select id="getDictInfoList" parameterType="com.jiaxin.shop.utils.PageData" resultType="com.jiaxin.shop.pojo.DictInfo">
    select dict_info_id,dict_info from dict_info di left join dict_type dt on
    di.dict_type_id = dt.dict_type_id
    <where>
      <if test="paramObj.dictTypeId">
        di.dict_type_id like concat('%',#{paramObj.dictTypeId,jdbcType=INTEGER},'%')
      </if>
      <if test="paramObj.dictInfo">
        dict_info like concat('%',#{paramObj.dictInfo,jdbcType=VARCHAR},'%')
      </if>
      <if test="paramObj.dictCode">
        dict_code = #{paramObj.dictCode,jdbcType=VARCHAR}
      </if>
    </where>
    limit #{pageIndex},#{size}
  </select>
  <select id="getDictInfoListCount" resultType="Long" parameterType="com.jiaxin.shop.pojo.DictInfo">
    select count(dict_info_id) from dict_info di left join dict_type dt on
    di.dict_type_id = dt.dict_type_id
    <where>
      <if test="dictTypeId">
        di.dict_type_id like concat('%',#{dictTypeId,jdbcType=INTEGER},'%')
      </if>
      <if test="dictInfo">
        dict_info like concat('%',#{dictInfo,jdbcType=VARCHAR},'%')
      </if>
      <if test="dictCode">
        dict_code = #{dictCode,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
</mapper>