<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiaxin.shop.dao.StockMapper" >
  <resultMap id="BaseResultMap" type="com.jiaxin.shop.pojo.Stock" >
    <id column="stock_id" property="stockId" jdbcType="INTEGER" />
    <result column="stock_name" property="stockName" jdbcType="VARCHAR" />
    <result column="stock_type_id" property="stockTypeId" jdbcType="INTEGER" />
    <result column="unit_id" property="unitId" jdbcType="INTEGER" />
    <result column="supplier" property="supplier" jdbcType="VARCHAR" />
    <result column="stock_initial" property="stockInitial" jdbcType="DECIMAL" />
    <result column="stock_now" property="stockNow" jdbcType="DECIMAL" />
    <result column="stock_lowest" property="stockLowest" jdbcType="DECIMAL" />
    <result column="retail_price" property="retailPrice" jdbcType="DECIMAL" />
    <result column="purchase_price" property="purchasePrice" jdbcType="DECIMAL" />
    <result column="wholesale_price" property="wholesalePrice" jdbcType="DECIMAL" />
    <result column="label" property="label" jdbcType="INTEGER" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="creat_time" property="creatTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    stock_id, stock_name, stock_type_id, unit_id, supplier, stock_initial, stock_now,
    stock_lowest, retail_price, purchase_price, wholesale_price, label, introduction,
    creat_time, update_time, state, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from stock
    where stock_id = #{stockId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from stock
    where stock_id = #{stockId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jiaxin.shop.pojo.Stock" >
    insert into stock (stock_id, stock_name, stock_type_id,
      unit_id, supplier, stock_initial,
      stock_now, stock_lowest, retail_price,
      purchase_price, wholesale_price, label,
      introduction, creat_time, update_time,
      state, remark)
    values (#{stockId,jdbcType=INTEGER}, #{stockName,jdbcType=VARCHAR}, #{stockTypeId,jdbcType=INTEGER},
      #{unitId,jdbcType=INTEGER}, #{supplier,jdbcType=VARCHAR}, #{stockInitial,jdbcType=DECIMAL},
      #{stockNow,jdbcType=DECIMAL}, #{stockLowest,jdbcType=DECIMAL}, #{retailPrice,jdbcType=DECIMAL},
      #{purchasePrice,jdbcType=DECIMAL}, #{wholesalePrice,jdbcType=DECIMAL}, #{label,jdbcType=INTEGER},
      #{introduction,jdbcType=VARCHAR}, #{creatTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
      #{state,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jiaxin.shop.pojo.Stock" >
    insert into stock
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="stockId != null" >
        stock_id,
      </if>
      <if test="stockName != null" >
        stock_name,
      </if>
      <if test="stockTypeId != null" >
        stock_type_id,
      </if>
      <if test="unitId != null" >
        unit_id,
      </if>
      <if test="supplier != null" >
        supplier,
      </if>
      <if test="stockInitial != null" >
        stock_initial,
      </if>
      <if test="stockNow != null" >
        stock_now,
      </if>
      <if test="stockLowest != null" >
        stock_lowest,
      </if>
      <if test="retailPrice != null" >
        retail_price,
      </if>
      <if test="purchasePrice != null" >
        purchase_price,
      </if>
      <if test="wholesalePrice != null" >
        wholesale_price,
      </if>
      <if test="label != null" >
        label,
      </if>
      <if test="introduction != null" >
        introduction,
      </if>
      <if test="creatTime != null" >
        creat_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="stockId != null" >
        #{stockId,jdbcType=INTEGER},
      </if>
      <if test="stockName != null" >
        #{stockName,jdbcType=VARCHAR},
      </if>
      <if test="stockTypeId != null" >
        #{stockTypeId,jdbcType=INTEGER},
      </if>
      <if test="unitId != null" >
        #{unitId,jdbcType=INTEGER},
      </if>
      <if test="supplier != null" >
        #{supplier,jdbcType=VARCHAR},
      </if>
      <if test="stockInitial != null" >
        #{stockInitial,jdbcType=DECIMAL},
      </if>
      <if test="stockNow != null" >
        #{stockNow,jdbcType=DECIMAL},
      </if>
      <if test="stockLowest != null" >
        #{stockLowest,jdbcType=DECIMAL},
      </if>
      <if test="retailPrice != null" >
        #{retailPrice,jdbcType=DECIMAL},
      </if>
      <if test="purchasePrice != null" >
        #{purchasePrice,jdbcType=DECIMAL},
      </if>
      <if test="wholesalePrice != null" >
        #{wholesalePrice,jdbcType=DECIMAL},
      </if>
      <if test="label != null" >
        #{label,jdbcType=INTEGER},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null" >
        #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jiaxin.shop.pojo.Stock" >
    update stock
    <set >
      <if test="stockName != null" >
        stock_name = #{stockName,jdbcType=VARCHAR},
      </if>
      <if test="stockTypeId != null" >
        stock_type_id = #{stockTypeId,jdbcType=INTEGER},
      </if>
      <if test="unitId != null" >
        unit_id = #{unitId,jdbcType=INTEGER},
      </if>
      <if test="supplier != null" >
        supplier = #{supplier,jdbcType=VARCHAR},
      </if>
      <if test="stockInitial != null" >
        stock_initial = #{stockInitial,jdbcType=DECIMAL},
      </if>
      <if test="stockNow != null" >
        stock_now = #{stockNow,jdbcType=DECIMAL},
      </if>
      <if test="stockLowest != null" >
        stock_lowest = #{stockLowest,jdbcType=DECIMAL},
      </if>
      <if test="retailPrice != null" >
        retail_price = #{retailPrice,jdbcType=DECIMAL},
      </if>
      <if test="purchasePrice != null" >
        purchase_price = #{purchasePrice,jdbcType=DECIMAL},
      </if>
      <if test="wholesalePrice != null" >
        wholesale_price = #{wholesalePrice,jdbcType=DECIMAL},
      </if>
      <if test="label != null" >
        label = #{label,jdbcType=INTEGER},
      </if>
      <if test="introduction != null" >
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null" >
        creat_time = #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where stock_id = #{stockId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jiaxin.shop.pojo.Stock" >
    update stock
    set stock_name = #{stockName,jdbcType=VARCHAR},
      stock_type_id = #{stockTypeId,jdbcType=INTEGER},
      unit_id = #{unitId,jdbcType=INTEGER},
      supplier = #{supplier,jdbcType=VARCHAR},
      stock_initial = #{stockInitial,jdbcType=DECIMAL},
      stock_now = #{stockNow,jdbcType=DECIMAL},
      stock_lowest = #{stockLowest,jdbcType=DECIMAL},
      retail_price = #{retailPrice,jdbcType=DECIMAL},
      purchase_price = #{purchasePrice,jdbcType=DECIMAL},
      wholesale_price = #{wholesalePrice,jdbcType=DECIMAL},
      label = #{label,jdbcType=INTEGER},
      introduction = #{introduction,jdbcType=VARCHAR},
      creat_time = #{creatTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where stock_id = #{stockId,jdbcType=INTEGER}
  </update>


  <!--  插入库存信息 返回主键-->

  <insert id="insertStockSelective" useGeneratedKeys="true" keyProperty="stockId" parameterType="com.jiaxin.shop.pojo.Stock" >
    insert into stock
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="stockId != null" >
        stock_id,
      </if>
      <if test="stockName != null" >
        stock_name,
      </if>
      <if test="stockTypeId != null" >
        stock_type_id,
      </if>
      <if test="unitId != null" >
        unit_id,
      </if>
      <if test="supplier != null" >
        supplier,
      </if>
      <if test="stockInitial != null" >
        stock_initial,
      </if>
      <if test="stockNow != null" >
        stock_now,
      </if>
      <if test="stockLowest != null" >
        stock_lowest,
      </if>
      <if test="retailPrice != null" >
        retail_price,
      </if>
      <if test="purchasePrice != null" >
        purchase_price,
      </if>
      <if test="wholesalePrice != null" >
        wholesale_price,
      </if>
      <if test="label != null" >
        label,
      </if>
      <if test="introduction != null" >
        introduction,
      </if>
      <if test="creatTime != null" >
        creat_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="stockId != null" >
        #{stockId,jdbcType=INTEGER},
      </if>
      <if test="stockName != null" >
        #{stockName,jdbcType=VARCHAR},
      </if>
      <if test="stockTypeId != null" >
        #{stockTypeId,jdbcType=INTEGER},
      </if>
      <if test="unitId != null" >
        #{unitId,jdbcType=INTEGER},
      </if>
      <if test="supplier != null" >
        #{supplier,jdbcType=VARCHAR},
      </if>
      <if test="stockInitial != null" >
        #{stockInitial,jdbcType=DECIMAL},
      </if>
      <if test="stockNow != null" >
        #{stockNow,jdbcType=DECIMAL},
      </if>
      <if test="stockLowest != null" >
        #{stockLowest,jdbcType=DECIMAL},
      </if>
      <if test="retailPrice != null" >
        #{retailPrice,jdbcType=DECIMAL},
      </if>
      <if test="purchasePrice != null" >
        #{purchasePrice,jdbcType=DECIMAL},
      </if>
      <if test="wholesalePrice != null" >
        #{wholesalePrice,jdbcType=DECIMAL},
      </if>
      <if test="label != null" >
        #{label,jdbcType=INTEGER},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null" >
        #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <!--  根据条件分页查询库存信息-->
  <resultMap id="getStockListByLabelMap" type="com.jiaxin.shop.pojo.Stock" extends="BaseResultMap">
    <collection property="stockImgList" ofType="com.jiaxin.shop.pojo.StockImg">
      <id column="stock_img_id" property="stockImgId" jdbcType="INTEGER" />
      <result column="stock_img_src" property="stockImgSrc" jdbcType="VARCHAR" />
    </collection>
  </resultMap>
  <select id="getStockListByLabel" resultMap="getStockListByLabelMap" parameterType="com.jiaxin.shop.utils.PageData" >
    SELECT * FROM stock s
    LEFT JOIN stock_img si ON s.stock_id = si.stock_id
          <where>
              si.state = 'open'
              <if test="paramObj.stockTypeId != null">
                 and stock_type_id = #{paramObj.stockTypeId,jdbcType=VARCHAR}
              </if>
              <if test="paramObj.label != null">
                  and label = #{paramObj.label,jdbcType=INTEGER}
              </if>
              <if test="paramObj.stockSearchContent != null">
                and stock_name like #{paramObj.stockSearchContent,jdbcType=VARCHAR}
              </if>
              <if test="paramObj.state != null">
                and state = #{paramObj.state,jdbcType=VARCHAR}
              </if>
            <if test="paramObj.stockNow != null">
              and stock_now != #{paramObj.stockNow,jdbcType=VARCHAR}
            </if>
          </where>
          <if test="page != null and size != null">
              limit #{page},#{size}
          </if>
  </select>

  <!--  根据条件查询库存信息数量-->
  <select id="getStockCountByLabel" parameterType="com.jiaxin.shop.pojo.Stock" resultType="Long" >
    select count(*) from stock s
    LEFT JOIN stock_img si ON s.stock_id = si.stock_id
    <where>
      si.state = 'open'
      <if test="stockTypeId != null">
        and stock_type_id = #{stockTypeId,jdbcType=VARCHAR}
      </if>
      <if test="label != null">
        and label = #{label,jdbcType=INTEGER}
      </if>
      <if test="stockSearchContent != null">
        and stock_name like #{stockSearchContent,jdbcType=VARCHAR}
      </if>
      <if test="state != null">
        and state = #{state,jdbcType=VARCHAR}
      </if>
      <if test="stockNow != null">
        and stock_now != #{stockNow,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

  <!--  根据库存名称查询库存信息-->
  <select id="getStockByName" resultType="com.jiaxin.shop.pojo.Stock" parameterType="String" >
    select * from stock where stock_name = #{stockName,jdbcType=VARCHAR}
  </select>

  <!--  根据标签查询库存信息-->
  <select id="getExportStockListByLabel" resultType="com.jiaxin.shop.pojo.Stock" parameterType="Integer" >
    select * from stock where label = #{label,jdbcType=INTEGER}
  </select>


</mapper>