<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiaxin.shop.dao.StockMapper" >
  <resultMap id="BaseResultMap" type="com.jiaxin.shop.pojo.Stock" >
    <id column="stock_id" property="stockId" jdbcType="INTEGER" />
    <result column="stock_name" property="stockName" jdbcType="VARCHAR" />
    <result column="stock_type" property="stockType" jdbcType="VARCHAR" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="supplier" property="supplier" jdbcType="VARCHAR" />
    <result column="stock_initial" property="stockInitial" jdbcType="INTEGER" />
    <result column="stock_now" property="stockNow" jdbcType="INTEGER" />
    <result column="stock_lowest" property="stockLowest" jdbcType="INTEGER" />
    <result column="retail_price" property="retailPrice" jdbcType="DOUBLE" />
    <result column="purchase_price" property="purchasePrice" jdbcType="DOUBLE" />
    <result column="wholesale_price" property="wholesalePrice" jdbcType="DOUBLE" />
    <result column="label" property="label" jdbcType="VARCHAR" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="creat_time" property="creatTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    stock_id, stock_name, stock_type, unit, supplier, stock_initial, stock_now, stock_lowest, 
    retail_price, purchase_price, wholesale_price, label, introduction, creat_time, update_time, 
    state, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from stock
    where stock_id = #{stockId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from stock
    where stock_id = #{stockId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jiaxin.shop.pojo.Stock" >
    insert into stock (stock_id, stock_name, stock_type, 
      unit, supplier, stock_initial, 
      stock_now, stock_lowest, retail_price, 
      purchase_price, wholesale_price, label, 
      introduction, creat_time, update_time, 
      state, remark)
    values (#{stockId,jdbcType=INTEGER}, #{stockName,jdbcType=VARCHAR}, #{stockType,jdbcType=VARCHAR}, 
      #{unit,jdbcType=VARCHAR}, #{supplier,jdbcType=VARCHAR}, #{stockInitial,jdbcType=INTEGER}, 
      #{stockNow,jdbcType=INTEGER}, #{stockLowest,jdbcType=INTEGER}, #{retailPrice,jdbcType=DOUBLE}, 
      #{purchasePrice,jdbcType=DOUBLE}, #{wholesalePrice,jdbcType=DOUBLE}, #{label,jdbcType=VARCHAR}, 
      #{introduction,jdbcType=VARCHAR}, #{creatTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{state,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jiaxin.shop.pojo.Stock" >
    insert into stock
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="stockId != null" >
        stock_id,
      </if>
      <if test="stockName != null" >
        stock_name,
      </if>
      <if test="stockType != null" >
        stock_type,
      </if>
      <if test="unit != null" >
        unit,
      </if>
      <if test="supplier != null" >
        supplier,
      </if>
      <if test="stockInitial != null" >
        stock_initial,
      </if>
      <if test="stockNow != null" >
        stock_now,
      </if>
      <if test="stockLowest != null" >
        stock_lowest,
      </if>
      <if test="retailPrice != null" >
        retail_price,
      </if>
      <if test="purchasePrice != null" >
        purchase_price,
      </if>
      <if test="wholesalePrice != null" >
        wholesale_price,
      </if>
      <if test="label != null" >
        label,
      </if>
      <if test="introduction != null" >
        introduction,
      </if>
      <if test="creatTime != null" >
        creat_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="stockId != null" >
        #{stockId,jdbcType=INTEGER},
      </if>
      <if test="stockName != null" >
        #{stockName,jdbcType=VARCHAR},
      </if>
      <if test="stockType != null" >
        #{stockType,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="supplier != null" >
        #{supplier,jdbcType=VARCHAR},
      </if>
      <if test="stockInitial != null" >
        #{stockInitial,jdbcType=INTEGER},
      </if>
      <if test="stockNow != null" >
        #{stockNow,jdbcType=INTEGER},
      </if>
      <if test="stockLowest != null" >
        #{stockLowest,jdbcType=INTEGER},
      </if>
      <if test="retailPrice != null" >
        #{retailPrice,jdbcType=DOUBLE},
      </if>
      <if test="purchasePrice != null" >
        #{purchasePrice,jdbcType=DOUBLE},
      </if>
      <if test="wholesalePrice != null" >
        #{wholesalePrice,jdbcType=DOUBLE},
      </if>
      <if test="label != null" >
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null" >
        #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jiaxin.shop.pojo.Stock" >
    update stock
    <set >
      <if test="stockName != null" >
        stock_name = #{stockName,jdbcType=VARCHAR},
      </if>
      <if test="stockType != null" >
        stock_type = #{stockType,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="supplier != null" >
        supplier = #{supplier,jdbcType=VARCHAR},
      </if>
      <if test="stockInitial != null" >
        stock_initial = #{stockInitial,jdbcType=INTEGER},
      </if>
      <if test="stockNow != null" >
        stock_now = #{stockNow,jdbcType=INTEGER},
      </if>
      <if test="stockLowest != null" >
        stock_lowest = #{stockLowest,jdbcType=INTEGER},
      </if>
      <if test="retailPrice != null" >
        retail_price = #{retailPrice,jdbcType=DOUBLE},
      </if>
      <if test="purchasePrice != null" >
        purchase_price = #{purchasePrice,jdbcType=DOUBLE},
      </if>
      <if test="wholesalePrice != null" >
        wholesale_price = #{wholesalePrice,jdbcType=DOUBLE},
      </if>
      <if test="label != null" >
        label = #{label,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null" >
        creat_time = #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where stock_id = #{stockId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jiaxin.shop.pojo.Stock" >
    update stock
    set stock_name = #{stockName,jdbcType=VARCHAR},
      stock_type = #{stockType,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=VARCHAR},
      supplier = #{supplier,jdbcType=VARCHAR},
      stock_initial = #{stockInitial,jdbcType=INTEGER},
      stock_now = #{stockNow,jdbcType=INTEGER},
      stock_lowest = #{stockLowest,jdbcType=INTEGER},
      retail_price = #{retailPrice,jdbcType=DOUBLE},
      purchase_price = #{purchasePrice,jdbcType=DOUBLE},
      wholesale_price = #{wholesalePrice,jdbcType=DOUBLE},
      label = #{label,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=VARCHAR},
      creat_time = #{creatTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where stock_id = #{stockId,jdbcType=INTEGER}
  </update>




  <!--  根据条件分页查询库存信息-->
  <select id="getStockListByLabel" resultType="com.jiaxin.shop.pojo.Stock" parameterType="com.jiaxin.shop.utils.PageData" >
      select * from stock
          <where>
              <if test="paramObj.stockType != null">
                  stock_type = #{paramObj.stockType,jdbcType=VARCHAR}
              </if>
              <if test="paramObj.label != null">
                  and label = #{paramObj.label,jdbcType=VARCHAR}
              </if>
              <if test="paramObj.stockSearchContent != null">
                and stock_name like #{paramObj.stockSearchContent,jdbcType=VARCHAR}
              </if>
              <if test="paramObj.state != null">
                and state = #{paramObj.state,jdbcType=VARCHAR}
              </if>
            <if test="paramObj.stockNow != null">
              and stock_now != #{paramObj.stockNow,jdbcType=VARCHAR}
            </if>
          </where>
          <if test="page != null and size != null">
              limit #{page},#{size}
          </if>
  </select>

  <!--  根据条件查询库存信息数量-->
  <select id="getStockCountByLabel" parameterType="com.jiaxin.shop.pojo.Stock" resultType="Long" >
    select count(*) from stock
    <where>
      <if test="stockType != null">
        stock_type = #{stockType,jdbcType=VARCHAR}
      </if>
      <if test="label != null">
        and label = #{label,jdbcType=VARCHAR}
      </if>
      <if test="stockSearchContent != null">
        and stock_name like #{stockSearchContent,jdbcType=VARCHAR}
      </if>
      <if test="state != null">
        and state = #{state,jdbcType=VARCHAR}
      </if>
      <if test="stockNow != null">
        and stock_now != #{stockNow,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

  <!--  根据库存名称查询库存信息-->
  <select id="getStockByName" resultType="com.jiaxin.shop.pojo.Stock" parameterType="String" >
    select * from stock where stock_name = #{stockName,jdbcType=VARCHAR}
  </select>

  <!--  根据标签查询库存信息-->
  <select id="getExportStockListByLabel" resultType="com.jiaxin.shop.pojo.Stock" parameterType="String" >
    select * from stock where label = #{label,jdbcType=VARCHAR}
  </select>
</mapper>